<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>payment | needebd</title>
    <!-- font-awesome -->
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css">
    <link rel="stylesheet" href="/static/app/css/fontend.css">
    <link rel="stylesheet" href="/static/app/css/payment.css">

    <!-- google font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap"
        rel="stylesheet">
    <!-- Cairo font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;700&family=Jost:wght@200;300;400&display=swap"
        rel="stylesheet">

</head>

<body>
    <!-- $Header Menu -->
    <div class="main_container" id="p260">
        <div class="sub_container">
            <div class="logo_and_nav_icon_container">
                <button class="nav_icon">
                    <!-- <span class="g_b"><img alt="null" aria-hidden="true" width="24" height="24"
              src="//i5.walmartimages.com/dfw/63fd9f59-6aed/824dae3a-da8f-4afb-be97-a42a31a64d4f/v1/menu-white.760aac729c86acf087c20c69b06b9a0875db4e8d.svg">
            </span> -->
                    <svg class="icon-svg" style="color: white;" stroke="currentColor" fill="currentColor"
                        stroke-width="0" viewBox="0 0 24 24" height="2em" width="2em"
                        xmlns="http://www.w3.org/2000/svg">
                        <path d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z"></path>
                    </svg>
                </button>
                <div class="logo_container">
                    <a href="">
                        <span>neede bd</span>
                    </a>

                </div>
            </div>

            <form action="" method="get" role="search" class="search-area mobilehide">
                <button class="left-search-area-container">
                    <span class="left-search-area-icon">
                        <img class="left-search-area-icon-image" alt="null" aria-hidden="true" width="18" height="18"
                            src="//i5.walmartimages.com/dfw/63fd9f59-392b/48a699e6-5299-4b55-8895-28b7af730df3/v1/caret-down-black.5d3320ad009f3bcb0c940ed92c776cce3840db43.svg">
                    </span>
                </button>
                <input placeholder="search in neede bd..." type="text" class="search-field">
                <button class="search-icon-container">
                    <span class="search-icon">
                        <img alt="null" aria-hidden="true" width="18" height="18"
                            src="//i5.walmartimages.com/dfw/63fd9f59-43e0/1ed7036a-feba-43ca-8885-1d937a9aa4f2/v1/search-nav-black.b92f68559cf70c3bcfb9eae1d8dcca59ca58af11.svg">
                    </span>
                </button>
            </form>

            <div class="account-and-myitem-container">
                <div class="account-container">
                    <button class="account-subcontainer">
                        <span class="account-subcontainer2">
                            <span class="account-subcontainer3">
                                <span class="account-logo">
                                    <img alt="null" aria-hidden="true" width="24" height="24"
                                        src="/static/app/image/user.svg">
                                </span>
                                <span class="account-title">
                                    Account
                                </span>
                            </span>
                        </span>
                    </button>
                </div>
                <div class="cart-container">
                    <a class="cart-subcontainer">
                        <span class="cart-subcontainer2">
                            <span class="cart-subcontainer3">
                                <span class="cart-subcontainer4">
                                    <img alt="null" aria-hidden="true" width="24" height="24"
                                        src="//i5.walmartimages.com/dfw/63fd9f59-392b/48a699e6-5299-4b55-8895-28b7af730df3/v1/cart-nav-white.00018279d92b8685ff0d50c146eefe5491200c0b.svg">
                                </span>
                                <span class="">
                                </span>
                            </span>
                        </span>
                    </a>
                    <div aria-hidden="true" class="count">0</div>
                </div>
            </div>
        </div>
    </div>
    <!-- $Spacer Section -->
    <div class="spacer" id="w260"></div>
    <!-- $Serach Form Mobile -->
    <div class="sac desktophide mobileshow">
        <form action="" method="get" role="search" class="search-area">

            <input placeholder="Search in neede bd..." type="text" class="search-field">
            <button class="search-icon-container">
                <span class="search-icon">
                    <img alt="null" aria-hidden="true" width="18" height="18"
                        src="//i5.walmartimages.com/dfw/63fd9f59-43e0/1ed7036a-feba-43ca-8885-1d937a9aa4f2/v1/search-nav-black.b92f68559cf70c3bcfb9eae1d8dcca59ca58af11.svg">
                </span>
            </button>
        </form>
    </div>

    <!-- payment page for pc -->

    <div class="payment-main">
        <div class="payment-container">
            <div class="payment-section">
                <div class="payment-row">
                    <div class="payment-left">
                        <div class="payment-left-container">
                            <div class="tab">
                                <button id="defaultOpen" class="tablinks"
                                    onclick="payment(event, 'credit-card')">Credit/ Debit card</button>
                                <button class="tablinks" onclick="payment(event, 'net-banking')">Net Banking</button>
                                <button class="tablinks" onclick="payment(event, 'cash-on')">Cash on delivery</button>
                            </div>

                            <div id="credit-card" class="tabcontent">
                                <div class="credit-card-content">
                                    <div class="card-row">
                                        <div class="visa-card">
                                            <div class="visa-card-content">
                                                <div class="visa-logo">
                                                    <img src="/static/app/image/visa.png" alt="">
                                                </div>

                                                <div class="visa-card-date">
                                                    <span class="visa-text">Expires</span>
                                                    <span class="visa-date">10-19</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="master-card">
                                            <div class="master-card-content">
                                                <div class="master-logo">
                                                    <img src="/static/app/image/MasterCard.png" alt="">
                                                </div>

                                                <div class="master-card-date">
                                                    <span class="master-text">Expires</span>
                                                    <span class="master-date">10-18</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div id="net-banking" class="tabcontent">
                                <div class="net-banking-content">
                                    <div class="net-banking-row">
                                        <!-- card-start -->
                                        <div class="banking-card">
                                            <div class="banking-pad">
                                                <div class="net-card-img">
                                                    <img src="/static/app/image/bank-1.webp" alt="">
                                                </div>
                                                <div class="net-card-date">
                                                    <span class="net-text">Expires</span>
                                                    <span class="net-date">10-20</span>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- card-end -->

                                        <!-- card-start -->
                                        <div class="banking-card">
                                            <div class="banking-pad">
                                                <div class="net-card-img">
                                                    <img src="/static/app/image/bank-2.png" alt="">
                                                </div>
                                                <div class="net-card-date">
                                                    <span class="net-text">Expires</span>
                                                    <span class="net-date">10-20</span>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- card-end -->

                                        <!-- card-start -->
                                        <div class="banking-card">
                                            <div class="banking-pad">
                                                <div class="net-card-img">
                                                    <img src="/static/app/image/bank-3.jpg" alt="">
                                                </div>
                                                <div class="net-card-date">
                                                    <span class="net-text">Expires</span>
                                                    <span class="net-date">10-20</span>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- card-end -->

                                        <!-- card-start -->
                                        <div class="banking-card">
                                            <div class="banking-pad">
                                                <div class="net-card-img">
                                                    <img src="/static/app/image/bank-4.jpg" alt="">
                                                </div>
                                                <div class="net-card-date">
                                                    <span class="net-text">Expires</span>
                                                    <span class="net-date">10-20</span>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- card-end -->


                                        <!-- card-start -->
                                        <div class="banking-card">
                                            <div class="banking-pad">
                                                <div class="net-card-img">
                                                    <img src="/static/app/image/bank-5.png" alt="">
                                                </div>
                                                <div class="net-card-date">
                                                    <span class="net-text">Expires</span>
                                                    <span class="net-date">10-20</span>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- card-end -->
                                    </div>
                                </div>

                            </div>

                            <div id="cash-on" class="tabcontent">
                                <div class="cash-on-delivery">
                                    <div class="cash-on-delivery-content">
                                       <div class="cash-on-delivery-img">
                                           <img src="/static/app/image/cash-on.jpg" alt="">
                                       </div>
                                       <div class="cash-on-text">
                                           <span class="cash-text">
                                               Cash on delivery
                                           </span>
                                       </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <div class="courier-section">
                            <div class="courier-container">
                                <div class="courier-title">
                                    <h3>choose your courier</h3>
                                </div>

                                <div class="courier-content">
                                    <div class="courier-content-row">
                                        <!-- courier name start -->
                                        <div class="courier-name">
                                            <div class="courier-name-content">
                                                <button name="sundorban" class="courier-btn">
                                                    <div class="name-logo">
                                                        <img src="/static/app/image/courier-1.png" alt="">
                                                    </div>
                                                    <div class="c-name">
                                                        <span>Sundarban</span>
                                                    </div>
                                                </button>
                                            </div>
                                        </div>
                                        <!-- courier name end -->
                                        <!-- courier name start -->
                                        <div class="courier-name">
                                            <div class="courier-name-content">
                                                <button name="sundorban" class="courier-btn">
                                                    <div class="name-logo">
                                                        <img src="/static/app/image/courier-2.jpg" alt="">
                                                    </div>
                                                    <div class="c-name">
                                                        <span>Sundarban</span>
                                                    </div>
                                                </button>
                                            </div>
                                        </div>
                                        <!-- courier name end -->
                                        <!-- courier name start -->
                                        <div class="courier-name">
                                            <div class="courier-name-content">
                                                <button name="sundorban" class="courier-btn">
                                                    <div class="name-logo">
                                                        <img src="/static/app/image/courier-3.jpg" alt="">
                                                    </div>
                                                    <div class="c-name">
                                                        <span>Sundarban</span>
                                                    </div>
                                                </button>
                                            </div>
                                        </div>
                                        <!-- courier name end -->


                                        <!-- courier name start -->
                                        <div class="courier-name">
                                            <div class="courier-name-content">
                                                <button name="sundorban" class="courier-btn">
                                                    <div class="name-logo">
                                                        <img src="/static/app/image/courier-4.jpg" alt="">
                                                    </div>
                                                    <div class="c-name">
                                                        <span>Sundarban</span>
                                                    </div>
                                                </button>
                                            </div>
                                        </div>
                                        <!-- courier name end -->


                                        <!-- courier name start -->
                                        <div class="courier-name">
                                            <div class="courier-name-content">
                                                <button name="sundorban" class="courier-btn">
                                                    <div class="name-logo">
                                                        <img src="/static/app/image/courier-5.jpg" alt="">
                                                    </div>
                                                    <div class="c-name">
                                                        <span>Sundarban</span>
                                                    </div>
                                                </button>
                                            </div>
                                        </div>
                                        <!-- courier name end -->

                                        <!-- courier name start -->
                                        <div class="courier-name">
                                            <div class="courier-name-content">
                                                <button name="sundorban" class="courier-btn">
                                                    <div class="name-logo">
                                                        <img src="/static/app/image/courier-3.jpg" alt="">
                                                    </div>
                                                    <div class="c-name">
                                                        <span>Sundarban</span>
                                                    </div>
                                                </button>
                                            </div>
                                        </div>
                                        <!-- courier name end -->




                                    </div>
                                </div>


                            </div>
                        </div>


                    </div>

                    <div class="payment-right">
                        <div class="payment-posi">

                            <div class="payment-right-main">
                                <div class="ck-pay-btn">
                                    <button class="pay-btn">Proceed to pay</button>
                                </div>
                                <div class="payment-right-title">
                                    <h1 class="ck-r-t">Shipping & Billing</h1>
                                </div>
                                <div class="ck-profile">
                                    <div class="ck-profile-text">
                                        <span class="ck-icn"><i class="fa fa-map-marker-alt"></i></span>
                                        <span class="ck-profile-name">
                                            Bahadur
                                        </span>
                                    </div>
                                    <div class="ck-profile-edit">
                                        <a href="#" class="ck-edit">Edit</a>
                                    </div>
                                </div>
                                <div class="ck-all-address">
                                    <span class="ck-address">sadar, Rajbari Math Joydebpur, Gazipur, Dhaka</span>
                                </div>
                                <div class="billing-address">
                                    <div class="billing-address-tex">
                                        <span class="billing-icons">
                                            <i class="fa fa-list-alt"></i>
                                        </span>
                                        <span class="billing-text">Bill to the same address</span>
                                    </div>
                                    <div class="bill-address-edit">
                                        <a href="" class="b-address-edit">Edit</a>
                                    </div>
                                </div>

                                <div class="phone-address">
                                    <div class="phone-address-tex">
                                        <span class="phone-icons">
                                            <i class="fa fa-phone"></i>
                                        </span>
                                        <span class="phone-text">098765432d1</span>
                                    </div>
                                    <div class="phone-address-edit">
                                        <a href="" class="p-address-edit">Edit</a>
                                    </div>
                                </div>

                                <div class="email-address">
                                    <div class="email-address-tex">
                                        <span class="email-icons">
                                            <i class="fa fa-envelope"></i>
                                        </span>
                                        <span class="email-text">abc@gmail.com</span>
                                    </div>
                                    <div class="email-address-edit">
                                        <a href="" class="e-address-edit">Edit</a>
                                    </div>
                                </div>

                                <div class="order-summery">
                                    <div class="os-title">
                                        <h1>Order Summary</h1>
                                    </div>
                                    <div class="os-total-section">
                                        <div class="os-total-text">
                                            <div class="os-total">
                                                Subtotal <span class="tottal">(3 Items)</span>
                                            </div>
                                        </div>
                                        <div class="os-tatal-con">
                                            <span> ৳ 250</span>
                                        </div>
                                    </div>
                                    <div class="os-shipping">
                                        <div class="os-sipping-text">
                                            <span>Shipping fee</span>
                                        </div>
                                        <div class="shipping-money">
                                            <span> ৳ 25</span>
                                        </div>
                                    </div>
                                    <div class="total-section">
                                        <div class="total-text">
                                            <span>Total:</span>
                                        </div>
                                        <div class="total-amount">
                                            <span class="amount"> ৳ 2500</span>
                                        </div>
                                    </div>
                                    <div class="ck-pay-btn">
                                        <button class="pay-btn">Proceed to pay</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="phone-checkout-btn-section">
        <div class="phone-checkout-btn-container">
            <div class="phone-checkout-btn-row">
                <div class="phn-checkout-btn-total">
                    <div class="pcb-total">
                        <span class="pcb-total-text">Total:</span>
                        <span class="pcb-total-amaount">৳ 150</span>
                    </div>
                    <div class="phone-vat">
                        <span class="vat-text">
                            VAT included,where applicable
                        </span>
                    </div>
                </div>
                <div class="phone-checkout-btn">
                    <a href="#" class="ph-btn">Proceed to pay</a>
                </div>
            </div>
        </div>
    </div>


    <!-- $Footer Section -->
    <div class="footer-section ">
        <div class="footer-main" style="background-color: #041E42;">
            <div class="footer-top-row">
                <!-- about -->
                <div class="about footer-cl">

                    <ul class="all-link">
                        <li><a href="#">contact us</a></li>
                        <li><a href="#">about us</a></li>
                        <li><a href="#">careers</a></li>
                        <li><a href="#">needebd stories</a></li>
                        <li><a href="#">press</a></li>
                        <li><a href="#">needebd wholesels</a></li>
                    </ul>
                </div>
                <!-- Help -->
                <div class="about footer-cl mobilehide400">

                    <ul class="all-link">
                        <li><a href="#">contact us</a></li>
                        <li><a href="#">about us</a></li>
                        <li><a href="#">careers</a></li>
                        <li><a href="#">needebd stories</a></li>
                        <li><a href="#">press</a></li>
                        <li><a href="#">needebd wholesels</a></li>
                    </ul>
                </div>

                <!-- SOCIAL -->


                <!-- Policy -->
                <div class="about footer-cl">

                    <ul class="all-link">
                        <li><a href="#">contact us</a></li>
                        <li><a href="#">about us</a></li>
                        <li><a href="#">careers</a></li>
                        <li><a href="#">needebd stories</a></li>
                        <li><a href="#">press</a></li>
                        <li><a href="#">needebd wholesels</a></li>
                    </ul>
                </div>

                <!-- mail us -->
                <div class="about footer-cl mail adress mobilehide654">

                    <ul class="all-link">
                        <li>Needebd Internet Private Limited,</li>
                        <li>Buildings Alyssa, Begonia &amp; </li>
                        <li>Clove Embassy Tech Village</li>
                        <li>Outer Ring Road, Devarabeesanahalli Villag
                        </li>
                        <li>
                        </li>
                        <li>Bengaluru, 560103</li>
                        <li>Karnataka, India</li>

                    </ul>
                </div>

                <!-- mail us -->

            </div>

            <div class="about footer-cl mail adress mobilehide654m desktophide">

                <ul class="all-link ulp30">
                    <li>Needebd Internet Private Limited,</li>
                    <li>Buildings Alyssa, Begonia &amp; </li>
                    <li>Clove Embassy Tech Village</li>
                    <li>Outer Ring Road, Devarabeesanahalli Villag
                    </li>
                    <li>
                    </li>
                    <li>Bengaluru, 560103</li>
                    <li>Karnataka, India</li>

                </ul>
            </div>
            <div class="hr"></div>
            <!-- footer bottom -->
            <div class="footer-bottom">

                <div>
                    <a href="#">
                        <img src="/static/app/image/payment-method.svg" alt="">

                    </a>
                </div>
            </div>
        </div>
    </div>
    <!-- $Site Menu Bar Section -->
    <div class="end">
        <div class="click-bar-site-menu" id="t260">
            <div class="click-bar-all" id="t68">
                <div class="click-bar-site-menu-top ">
                    <div class="click-bar-site-menu-top-row">
                        <div class="click-bar-site-logo">
                            <a href="#"> Salam, Ibrahim!
                            </a>
                        </div>
                        <div class="site-menu-close">
                            <button class="site-menu-close-btn"">
                    <span>
                      <img src=" /static/app/image/remove.svg" alt="" width="38" height="24">
                                </span>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="click-bar-site-menu-container">
                    <div class="click-bar-site-menu-main">
                        <div class="click-bar-site-menu-bottom">
                            <div class="web-link">
                                Needebd.com
                            </div>
                            <div class="click-bar-site-menu-bottom-header">
                                <!-- link-1 -->
                                <a href="#" class="click-links">
                                    <div class="click-links-row">
                                        <img src="/static/app/image/icons.svg" alt="" class="click-img" width="24"
                                            height="24">
                                        <div class="link-empty"></div>
                                        <div class="link-title l-t">
                                            track order
                                        </div>
                                    </div>
                                </a>
                                <!-- link-2 -->
                                <a href="#" class="click-links">
                                    <div class="click-links-row">
                                        <img src="/static/app/image/incons-2.svg" alt="" class="click-img" width="24"
                                            height="24">
                                        <div class="link-empty"></div>
                                        <div class="link-title l-t">
                                            Buy Again
                                        </div>
                                    </div>
                                </a>
                                <!-- link-3 -->
                                <a href="#" class="click-links">
                                    <div class="click-links-row">
                                        <img src="/static/app/image/icons-3.svg" alt="" class="click-img" width="24"
                                            height="24">
                                        <div class="link-empty"></div>
                                        <div class="link-title l-t">
                                            Lists
                                        </div>
                                    </div>
                                </a>
                                <!-- link-4 -->
                                <a href="#" class="click-links">
                                    <div class="click-links-row">
                                        <img src="/static/app/image/icons-4.svg" alt="" class="click-img" width="24"
                                            height="24">
                                        <div class="link-empty"></div>
                                        <div class="link-title l-t">
                                            Walmart+
                                        </div>
                                    </div>
                                </a>
                                <!-- link-5 -->
                                <a href="#" class="click-links">
                                    <div class="click-links-row">
                                        <img src="/static/app/image/icons-5.svg" alt="" class="click-img" width="24"
                                            height="24">
                                        <div class="link-empty"></div>
                                        <div class="link-title l-t">
                                            Walmart Credit Card
                                        </div>
                                    </div>
                                </a>
                                <!-- link-6 -->
                                <a href="#" class="click-links">
                                    <div class="click-links-row">
                                        <img src="/static/app/image/incons-2.svg" alt="" class="click-img" width="24"
                                            height="24">
                                        <div class="link-empty"></div>
                                        <div class="link-title ">
                                            Your Location:
                                        </div>
                                    </div>
                                </a>
                                <!-- link-7 -->
                                <a href="#" class="click-links">
                                    <div class="click-links-row">
                                        <img src="/static/app/image/icons.svg" alt="" class="click-img" width="24"
                                            height="24">
                                        <div class="link-empty last-empty">Local Store</div>
                                        <div class="link-title link-right-icon">
                                            <span>
                                                <button class="lg-i-btn">
                                                    <img src="/static/app/image/right-icons.svg" alt="" width="14"
                                                        height="14">
                                                </button>
                                            </span>
                                        </div>
                                    </div>
                                </a>


                            </div>
                        </div>

                        <!-- department -->

                        <div class="click-bar-site-menu-header-department">
                            <div class="department-title">
                                <div class="department-title-row">
                                    <div class="department-name">
                                        <h2>Departments
                                        </h2>
                                    </div>
                                    <div class="department all-link">
                                        <a href="#">see all</a>
                                    </div>
                                </div>
                            </div>

                            <!-- department-menus -->

                            <div class="departments-menu">
                                <!-- link-1 -->
                                <button class="departments-link">
                                    <span class="departments-links-row">
                                        <span class="departments-name">
                                            Savings Spotlight
                                        </span>
                                        <img src="/static/app/image/right-icons.svg" alt="" width="14" height="14">
                                    </span>
                                </button>
                                <!-- link-1 -->
                                <button class="departments-link">
                                    <span class="departments-links-row">
                                        <span class="departments-name">
                                            Back to School
                                        </span>
                                        <img src="/static/app/image/right-icons.svg" alt="" width="14" height="14">
                                    </span>
                                </button>
                                <!-- link-1 -->
                                <button class="departments-link">
                                    <span class="departments-links-row">
                                        <span class="departments-name">
                                            College & Beyond Shop
                                        </span>
                                        <img src="/static/app/image/right-icons.svg" alt="" width="14" height="14">
                                    </span>
                                </button>
                                <!-- link-1 -->
                                <button class="departments-link">
                                    <span class="departments-links-row">
                                        <span class="departments-name">
                                            Electronics & Office
                                        </span>
                                        <img src="/static/app/image/right-icons.svg" alt="" width="14" height="14">
                                    </span>
                                </button>
                                <!-- link-1 -->
                                <button class="departments-link">
                                    <span class="departments-links-row">
                                        <span class="departments-name">
                                            Clothing, Shoes & Accessories
                                        </span>
                                        <img src="/static/app/image/right-icons.svg" alt="" width="14" height="14">
                                    </span>
                                </button>
                                <!-- link-1 -->
                                <button class="departments-link">
                                    <span class="departments-links-row">
                                        <span class="departments-name">
                                            Home, Furniture & Appliances
                                        </span>
                                        <img src="/static/app/image/right-icons.svg" alt="" width="14" height="14">
                                    </span>
                                </button>
                                <!-- link-1 -->
                                <button class="departments-link">
                                    <span class="departments-links-row">
                                        <span class="departments-name">
                                            Toys, Games, and Video Games
                                        </span>
                                        <img src="/static/app/image/right-icons.svg" alt="" width="14" height="14">
                                    </span>
                                </button>
                                <!-- link-1 -->
                                <button class="departments-link">
                                    <span class="departments-links-row">
                                        <span class="departments-name">
                                            Home Improvement
                                        </span>
                                        <img src="/static/app/image/right-icons.svg" alt="" width="14" height="14">
                                    </span>
                                </button>
                                <!-- link-1 -->
                                <button class="departments-link">
                                    <span class="departments-links-row">
                                        <span class="departments-name">
                                            Movies, Music & Books
                                        </span>
                                        <img src="/static/app/image/right-icons.svg" alt="" width="14" height="14">
                                    </span>
                                </button>
                                <!-- link-1 -->
                                <button class="departments-link">
                                    <span class="departments-links-row">
                                        <span class="departments-name">
                                            Baby
                                        </span>
                                        <img src="/static/app/image/right-icons.svg" alt="" width="14" height="14">
                                    </span>
                                </button>
                                <!-- link-1 -->
                                <button class="departments-link">
                                    <span class="departments-links-row">
                                        <span class="departments-name">
                                            Patio & Garden
                                        </span>
                                        <img src="/static/app/image/right-icons.svg" alt="" width="14" height="14">
                                    </span>
                                </button>
                                <!-- link-1 -->
                                <button class="departments-link">
                                    <span class="departments-links-row">
                                        <span class="departments-name">
                                            Food, Household & Pets
                                        </span>
                                        <img src="/static/app/image/right-icons.svg" alt="" width="14" height="14">
                                    </span>
                                </button>
                                <!-- link-1 -->
                                <button class="departments-link">
                                    <span class="departments-links-row">
                                        <span class="departments-name">
                                            Pharmacy, Health & Personal Care
                                        </span>
                                        <img src="/static/app/image/right-icons.svg" alt="" width="14" height="14">
                                    </span>
                                </button>
                                <!-- link-1 -->
                                <button class="departments-link">
                                    <span class="departments-links-row">
                                        <span class="departments-name">
                                            Beauty
                                        </span>
                                        <img src="/static/app/image/right-icons.svg" alt="" width="14" height="14">
                                    </span>
                                </button>
                                <!-- link-1 -->
                                <button class="departments-link">
                                    <span class="departments-links-row">
                                        <span class="departments-name">
                                            Sports, Fitness & Outdoors
                                        </span>
                                        <img src="/static/app/image/right-icons.svg" alt="" width="14" height="14">
                                    </span>
                                </button>
                                <!-- link-1 -->
                                <button class="departments-link">
                                    <span class="departments-links-row">
                                        <span class="departments-name">
                                            Auto, Tires & Industrial
                                        </span>
                                        <img src="/static/app/image/right-icons.svg" alt="" width="14" height="14">
                                    </span>
                                </button>
                                <!-- link-1 -->
                                <button class="departments-link">
                                    <span class="departments-links-row">
                                        <span class="departments-name">
                                            Photo & Personalized Shop
                                        </span>
                                        <img src="/static/app/image/right-icons.svg" alt="" width="14" height="14">
                                    </span>
                                </button>
                                <!-- link-1 -->
                                <button class="departments-link">
                                    <span class="departments-links-row">
                                        <span class="departments-name">
                                            Arts, Craft, Sewing & Party Supplies
                                        </span>
                                        <img src="/static/app/image/right-icons.svg" alt="" width="14" height="14">
                                    </span>
                                </button>
                            </div>
                        </div>



                        <!-- bottom header -->
                        <div class="click-bar-site-header-bottom-link">
                            <!-- link-1 -->
                            <a href="#" class="click-links">
                                <div class="click-links-row">
                                    <img src="/static/app/image/bt-1.svg" alt="" class="click-img" width="18"
                                        height="18">
                                    <div class="link-empty"></div>
                                    <div class="link-title l-t">
                                        Registry
                                    </div>
                                </div>
                            </a>
                            <!-- link-2 -->
                            <a href="#" class="click-links">
                                <div class="click-links-row">
                                    <img src="/static/app/image/gift-card.png" alt="" class="click-img" width="18"
                                        height="18">
                                    <div class="link-empty"></div>
                                    <div class="link-title l-t">
                                        Gift finder
                                    </div>
                                </div>
                            </a>
                            <!-- link-3 -->
                            <a href="#" class="click-links">
                                <div class="click-links-row">
                                    <img src="/static/app/image/bt-3.svg" alt="" class="click-img" width="18"
                                        height="18">
                                    <div class="link-empty"></div>
                                    <div class="link-title l-t">
                                        walmart Service
                                    </div>
                                </div>
                            </a>
                            <!-- link-4 -->
                            <a href="#" class="click-links">
                                <div class="click-links-row">
                                    <img src="/static/app/image/bt-4.svg" alt="" class="click-img" width="18"
                                        height="18">
                                    <div class="link-empty"></div>
                                    <div class="link-title l-t">
                                        Digital video by Vudu
                                    </div>
                                </div>
                            </a>
                            <!-- link-5 -->
                            <a href="#" class="click-links">
                                <div class="click-links-row">
                                    <img src="/static/app/image/bt-5.svg" alt="" class="click-img" width="18"
                                        height="18">
                                    <div class="link-empty"></div>
                                    <div class="link-title l-t">
                                        Welmart credit Cards
                                    </div>
                                </div>
                            </a>
                            <!-- link-6 -->
                            <a href="#" class="click-links">
                                <div class="click-links-row">
                                    <img src="/static/app/image/bt-6.svg" alt="" class="click-img" width="18"
                                        height="18">
                                    <div class="link-empty"></div>
                                    <div class="link-title l-t">
                                        gift cards
                                    </div>
                                </div>
                            </a>
                            <!-- link-7 -->
                            <a href="#" class="click-links">
                                <div class="click-links-row">
                                    <img src="/static/app/image/bt-7.svg" alt="" class="click-img" width="18"
                                        height="18">
                                    <div class="link-empty"></div>
                                    <div class="link-title l-t">
                                        Weekly Ad
                                    </div>
                                </div>
                            </a>
                            <!-- link-8 -->
                            <a href="#" class="click-links">
                                <div class="click-links-row">
                                    <img src="/static/app/image/bt-8.svg" alt="" class="click-img" width="18"
                                        height="18">
                                    <div class="link-empty"></div>
                                    <div class="link-title l-t">
                                        Help
                                    </div>
                                </div>
                            </a>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Account Menu Bar -->
    <div class="account-dropdown-main" id="main-dorpdown">
        <div class="account-dropdown">
            <div class="account-dropdown-content" id="act2">
                <div class="account-dropdown-top">
                    <div class="account-left">
                        <div class="account-row">
                            <div class="account-img">
                                <img src="/static/app/image/user-white.svg" alt="" width="24" height="24">
                            </div>
                            <div class="account-title act">
                                <h2>Account</h2>
                            </div>
                        </div>
                    </div>

                    <div class="account-right">
                        <div class="close-section">
                            <button class="close-account-btn">
                                <img src="/static/app/image/remove-black.svg" alt="" width="24" height="24">

                            </button>
                        </div>
                    </div>
                </div>
                <div class="all-elements-link">
                    <a href="/Html files/singin.html" class="elements">
                        <div class="elements-row">
                            <div class="elements-image">
                                <img src="/static/app/image/sign-in-black.svg" alt="" width="18" height="18">
                            </div>
                            <div class="elements-name">
                                sing in
                            </div>
                        </div>
                    </a>

                    <a href="#" class="elements">
                        <div class="elements-row">
                            <div class="elements-image">
                                <img src="/static/app/image/package-black.svg" alt="" width="18" height="18">
                            </div>
                            <div class="elements-name">
                                Track orders
                            </div>
                        </div>
                    </a>

                    <a href="#" class="elements">
                        <div class="elements-row">
                            <div class="elements-image">
                                <img src="/static/app/image/user-black.svg" alt="" width="18" height="18">
                            </div>
                            <div class="elements-name">
                                account
                            </div>
                        </div>
                    </a>
                    <a href="#" class="elements">
                        <div class="elements-row">
                            <div class="elements-image">
                                <img src="/static/app/image/help-black.svg" alt="" width="18" height="18">
                            </div>
                            <div class="elements-name">
                                help
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>


    <script src="/static/app/js/productPage.js"></script>
    <script src="/static/app/js/payment.js"></script>
</body>

</html>